---
layout: page
title: Search Results
permalink: /search/
hide: true
share: false
---

<script>
    var baseurl = "{{ site.baseurl }}";
</script>

<div id="search-results">
    <hr id="first-hr" class="with-no-margin"/>

    {% assign sorted_posts = site.collections | map: "docs" | flatten | sort_by: 'title' | reverse %}
{% for post in sorted_posts %}
    <div id="{{ post.id | replace: '/', '-' }}" style="display: none;">
        <div class="article-wrapper">
            <article>
                {% if post.categories contains "requirements" %}
                {% include search-req-header.html page=post link=true share=false %}
                {% else %}
                {% include article-header.html page=post link=true share=false %}
                {% endif %}
            </article>
        </div>
        <hr class="with-no-margin"/>
    </div>
    {% endfor %}
</div>
