#
# URL settings
#
# these need to be adjusted depending on target platform,

# "real" deployment with github-pages but custom domain
# -----------------------------------------------------
url: https://quality.arc42.org
imageurl: https://quality.arc42.org
baseurl:

#######################################################


#
# basic settings
#
title: arc42 Quality Model
description: quality attributes, explained.
avatar: /assets/img/arc42logosquare.webp
favicon: /assets/img/arc42logosquare.webp
language: en
repository: arc42/quality.arc42.org-site

#
# want subtle ads (on post-pages)
#
show-subtle-ads: false


#
# Icons and Social-Media accounts
#
icons:
  rss: false
  email: 
  github: arc42
  twitter: gernotstarke
  youtube: arc42-video
  stack_overflow: arc42
  dev_to: gernotstarke
  mastodon: gernotstarke

#
# Prettify url.
#
permalink: pretty


#
# Localizations.
#
str_next: Next
str_prev: Prev
str_read_more: Read more...
str_search: Search
str_recent_posts: Recent answers
str_show_all_posts: Show all...

#
# Plugins.
#
plugins:
  - jekyll-sitemap
  - jekyll-seo-tag
  - jemoji
  - jekyll-paginate
  - jekyll-github-metadata


#
# tags, collections etc -
# see https://jekyllrb.com/docs/collections/

# every collection has their own tags...
collections:
  posts:
    hide: true
  articles:
    output: true
    hide: true
## quality scenarios to describe and capture specific quality requirements
  scenarios:
    output: true
    hide: true    

## Filtering Content
future        : false
unpublished   : false



#
# with this default, all files under /_posts (other collections did not work with tags)
# get the qualities-layout per default, saving a bit of typing
#
defaults:
  - scope:
      path: "qualities"
      type: "posts"
    values:
      layout: qualities  
      hide: "true"
  - scope:
      path: "scenarios"
      type: "posts"
    values:
      layout: scenarios
      hide: "true"

#
# !! Danger zone !!
#


markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter: rouge

excerpt_separator: <!--more-->

sass:
  sass_dir: _sass
  style: :compressed # or :expanded

include:
  - _pages

exclude:
  - originals/
  - Dockerfile
  - README.md
  - .vscode
  - _docker-compose*
  - _manage*
  - .sass-cache
  - .code-workspace
  
