{% assign page = include.page %}

<header>
    <div class="panel dimension-header">
        <h1>
            {% include icon.html name="layers" %}
            {% if include.link %}
            <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
            {% else %}
            {{ page.title }}
            {% endif %}
        </h1>

        <div class="header-taxonomy-row">
            {% unless include.show_category_link == false %}
            {% include header-category-link.liquid
              href='/qualities/'
              value='Dimension'
              icon='layers'
            %}
            {% endunless %}
        </div>

        <div class="clearfix"></div>
    </div>
</header>
