<h2><span style="background-color:var(--qual-req-color)">Directly Related Quality Requirements</span></h2>

{% assign requirements_unsorted = site.posts | where: "categories", "requirements" %}
{% assign requirements = requirements_unsorted | sort %}

<ul class="posts no-bullets">
    {% assign number = 0 %}
    {% for requirement in requirements %}
    {% assign check_title = page.permalink | split: "/" | last | downcase %}
    {% assign related = requirement.related | split: ", "%}
    {% if related contains check_title %}
    {% assign number = 1 %}
    <li><a class="reqs" href="{{ requirement.permalink | prepend: site.baseUrl }}"><i
            class="fa fa-lightbulb fa-xs as-bullet" style="color: var(--req-text-color);"> </i> {{ requirement.title }}</a>
    </li>
    {% endif %}
    {% endfor %}
    {% if number == 0 %}
    No directly related quality requirements found.
    {% endif %}
</ul>
