{% assign icons = include.icons %}

<li>
    <a href="xmxaxixlxtxo:ixnxfxox@xaxrxcx4x2x.xdxe" onmouseover="this.href=this.href.replace(/x/g,'');">
        <i class="fa fa-fw fa-envelope" aria-hidden="true"></i>
    </a>
</li>

<li><a href="https://linkedin.com/in/gernotstarke">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
    </a>
</li>


{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" target="_blank">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i>
    </a>
</li>
{% endif %}



{% if icons.mastodon %}
<li>
    <a href="https://innoq.social/@{{ icons.mastodon }}" target="_blank">
        <i class="fab fa-mastodon" aria-hidden="true"></i>
    </a>
</li>
{% endif %}


{% if icons.stack_overflow %}
<li>
    <a href="https://stackoverflow.com/tags/{{ icons.stack_overflow }}" target="_blank">
        <i class="fab fa-fw fa-stack-overflow" aria-hidden="true"></i>
    </a>
</li>
{% endif %}


{% if icons.youtube %}
<li>
    <a href="https://youtube.com/{{ icons.youtube }}" target="_blank">
        <i class="fab fa-fw fa-youtube" aria-hidden="true"></i>
    </a>
</li>
{% endif %}

{% if icons.dev_to %}
<li><a href="https://dev.to/gernotstarke/" target="_blank">
  <i class="fab fa-dev" aria-hidden="true"></i> </a>
</li>
{% endif %}

<li><a href="https://www.innoq.com/de/staff/gernot-starke/" target="_blank">
  <i class="fas fa-heart fa-fw" style="color:#ff9c66;"></i> </a>
</li>



