{% assign icons = include.icons %}

<li><a href="https://linkedin.com/in/gernotstarke" target="_blank" rel="noopener noreferrer" aria-label="Open Gernot Starke on LinkedIn">
      <i class="fab fa-fw fa-linkedin" aria-hidden="true"></i>
    </a>
</li>


{% if icons.github %}
<li>
    <a href="https://github.com/{{ icons.github }}" target="_blank" rel="noopener noreferrer" aria-label="Open arc42 on GitHub">
        <i class="fab fa-fw fa-github" aria-hidden="true"></i>
    </a>
</li>
{% endif %}
