{% assign page = include.page %}

<script type="text/javascript" src="/mermaid/mermaid.js"></script>

<script type="text/javascript">
    let config = { 
        theme: 'base',
        securityLevel: 'antiscript',
        startOnLoad: true,
        flowchart: { 
            useMaxWidth: true, 
            htmlLabels: true,
            rankSpacing: 100,
            nodeSpacing: 10
        },
        themeVariables: {
            primaryColor: '#dbf0fe',
            primaryTextColor: '#1675b9',
            primaryBorderColor: '#808080',
            lineColor: '#d3d3d3'
        }
    };
    mermaid.initialize(config);
</script>



