<h2><span style="background-color:var(--qual-req-color)">Related Quality Requirements</span></h2>


{% assign page_tags = page.tags %}
{% assign no_show_titles = page.title %}
{% assign posts_to_show = "" %}
{% for page_tag in page_tags %}
{% assign posts = site.tags[page_tag] | where: "categories", "requirements" %}
{% for post in posts %}
{% unless no_show_titles contains post.title %}
{% assign no_show_titles = no_show_titles | append: post.title%}
{% assign posts_to_show = posts_to_show | append: post.title %}
{% assign posts_to_show = posts_to_show | append: "&" %}
{% assign posts_to_show = posts_to_show | append: post.permalink %}
{% assign posts_to_show = posts_to_show | append: ":" %}
{% for tag in post.tags%}
{% assign posts_to_show = posts_to_show | append: tag %}
{% assign posts_to_show = posts_to_show | append: ";" %}
{% endfor %}
{% assign posts_to_show = posts_to_show | append: "| " %}
{% endunless %}
{% endfor %}
{% endfor %}

{% assign posts_to_show = posts_to_show | split: "| " %}
{% assign posts_to_show = posts_to_show | sort %}


<ul class="posts no-bullets">
    {% for post in posts_to_show %}
    {% assign post_and_tags = post | split: ":" %}
    {% assign title_and_link = post_and_tags[0] | split: "&" %}
    {% assign post_title = title_and_link[0] %}
    {% assign post_link = title_and_link[1] %}
    {% assign post_tags = post_and_tags[1] %}
    {% assign post_tags = post_tags | split: ";" %}

    <li><a class="reqs" href="{{ post_link | prepend: site.baseUrl }}"><i class="fa fa-lightbulb fa-xs as-bullet"
                                                                          style="color: var(--req-text-color);"> </i>{{post_title}}</a>
        <span class="parent children rel-pos">
    &nbsp; | &nbsp; <i>
    <small> <i class="fa fa-tags" style="color: var(--blue-text-color);"> </i> &nbsp; </small>
    {% for tag in post_tags %}
        <small> <a style="color: var(--blue-text-color);" href="{{site.baseurl}}/tag-{{tag}}">#{{tag}}</a> </small>
    {% endfor %}
    </i></span></li>

    {% endfor %}
</ul>
