{% assign standard = include.standard %}

<div class="standard-item">
    <h3 class="standard-title">
        {% if include.link %}
        <i class="fas fa-solid fa-award" style="color: var(--standard-text-color, #666);"></i>
        <a class="standard-link" href="{{ standard.url | prepend: site.baseurl }}">{{ standard.title }}</a>
        {% else %}
        <i class="fas fa-solid fa-award" style="color: var(--standard-text-color, #666);"></i>
        {{ standard.title }}
        {% endif %}
    </h3>

    {% if standard.categories and standard.categories.size > 0 %}
    <div class="standard-tags">
        <i class="fa fa-tags" style="color: var(--blue-text-color);"></i>
        {% for category in standard.categories %}#{{ category }}
           {% unless forloop.last %}, {% endunless %}
        {% endfor %}
    </div>
    <hr>
    {% endif %}
</div>