{% assign filtered_standards = "" | split: "," %}
{% for standard in include.standards %}
  {% if standard.categories contains include.category %}
    {% assign filtered_standards = filtered_standards | push: standard %}
  {% endif %}
{% endfor %}

<h2 class="category-header standards-section-header">
  <i class="fa fa-award standards-section-header-icon" aria-hidden="true"></i>
  {{ include.title }}
  <span class="standards-section-header-count">{{ filtered_standards | size }}</span>
</h2>

{% for standard in filtered_standards %}
    {% include standard-item.liquid standard=standard link=true %}
{% endfor %}
