{% assign page = include.page %}

<header>
  <div class="panel standard-header" id="standard-header">
    <h1>
      {% if include.link %}
         <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
      {% else %}
         {{ page.title }}
      {% endif %}
    </h1>

    <ul class="tags">
      {% assign categories_num = (page.categories | size) %}
      {% if categories_num > 0 %}
         <li><i class="fa fa-tags" style="color: var(--standard-text-color);"> </i></li>
      {% endif %}
      {% for category in page.categories %}
         <li>
           <span class="category">#{{ category }}</span>
          </li>
      {% endfor %}
    </ul>
 
        <div class="clearfix"></div>
    </div>


</header>
