{% assign standard = include.standard %}

<div class="standard-item">
    <h3 class="standard-title">
        {% if include.link %}
        {% include icon.html name="award" class="standards-award-icon" %}
        <a class="standard-link" href="{{ standard.url | prepend: site.baseurl }}">{{ standard.title }}</a>
        {% else %}
        {% include icon.html name="award" class="standards-award-icon" %}
        {{ standard.title }}
        {% endif %}
    </h3>

    {% if standard.categories and standard.categories.size > 0 %}
    <div class="standard-tags">
        {% include icon.html name="tags" style="color: #999;" %}
        {% for category in standard.categories %}<span class="category-name">#{{ category }}</span>{% unless forloop.last %}, {% endunless %}{% endfor %}
    </div>
    <hr>
    {% endif %}
</div>
