#q-graph-container {
    background-color: #ffffff;
    height: 50vh;
    position: relative;
}

#graph-site {
    margin: 0 !important;
    width: 100% !important;
}

#full-q-graph-container {
    position: relative;
    background-color: #ffffff;
    height: calc(100dvh - 200px); /* 50px for controls 150px for the footer, 216px for the header*/
    width: calc(100dvw - 1.1rem);
}

#full-q-graph-controls-container {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    width: fit-content;
    height: 50px;
    background-color: transparent;
    z-index: 1000;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#full-graph-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #941651;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#full-graph-toggle:hover {
    transform: scale(1.1);
    background-color: #c77da3;
}

#q-graph-container:hover #full-graph-toggle {
    display: block;
}
