#q-graph-container {
    background-color: #ffffff;
    height: 50vh;
}

#graph-site {
    margin: 0 !important;
    width: 100% !important;
}

#full-q-graph-container {
    position: relative;
    background-color: #ffffff;
    height: calc(100dvh - 200px); /* 50px for controls 150px for the footer, 216px for the header*/
    width: calc(100dvw - 1.1rem);
}

#full-q-graph-controls-container {
    position: relative;
    top: 0;
    left: 0;
    padding: 1rem 1.5rem;
    width: fit-content;
    height: 50px;
    background-color: transparent;
    z-index: 1000;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
