#q-graph-container {
    background-color: #ffffff;
    height: 50vh;
    position: relative;
}

#graph-site {
    margin: 0 !important;
    width: 100% !important;
}

#full-q-graph-container {
    position: relative;
    background-color: #ffffff;
    height: calc(100dvh - 150px); /* 150px for the footer, 216px for the header*/
    width: calc(100dvw - 1.1rem);
}

#full-q-graph-sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    max-height: 80%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    z-index: 1000;
    overflow-y: auto;
    transition: background-color 0.3s ease;
}

#full-q-graph-sidebar:hover {
    background-color: rgba(255, 255, 255, 1);
}

#full-q-graph-controls-container {
    margin-bottom: 2rem;
}

#full-q-graph-controls-container h3,
#full-q-graph-legend h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    color: #333;
}

#full-q-graph-filter__input {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#full-q-graph-filter__btn {
    width: 100%;
    padding: 0.5rem;
    background-color: #e6daf2;
    color: #003366;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#full-q-graph-filter__btn:hover {
    background-color: #cb9fff;
}

#full-q-graph-legend {
    margin-top: 1rem;
}

.legend-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.color-box {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.legend-label {
    font-size: 0.7rem;
}

.sr-only {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

#full-graph-toggle {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: #e6daf2;
    color: #003366;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

#full-graph-toggle:hover {
    transform: scale(1.1);
    background-color: #cb9fff;
}

#q-graph-container:hover #full-graph-toggle {
    display: block;
}
