---
layout: default
---

{% comment %}
These qualities pages are structured as follows:
- Header 
- Content section  
- Related requirements ("related to this quality")
- Related qualities
{% endcomment %}

<div class="article-wrapper">
    <article>
        {% include article-header.html page=page link=false share=page.share %}
     <section class="post-content">
        {{ content }}
     </section>

     <hr class="with-no-margin"/>
     
     {% include directly-related-requirements.html %}
     
     <hr class="with-no-margin"/>

     {% assign related-qualities = page.related | split:', ' | sort %}
        
        <h2 class="section-heading qualities">Related Qualities</h2>

        {% assign all_qualities = site.qualities %}
        {% assign related_qualities = page.related | split:', ' | sort %}

        <ul class="posts">
            {% assign number = 0 %}
            {% for quality in related_qualities %}
                {% assign quality_title = quality | replace: "-", " " %}
                {% for whole_quality in all_qualities %}
                    {% assign check_title = whole_quality.title | downcase %}
                    {% assign check_title_downcase = check_title | replace: "-", " " %}
                    {% if check_title_downcase == quality_title %}
                        {% assign number = 1 %}
                        <li> <a href="{{whole_quality.permalink}}">{{whole_quality.title}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            {% if number == 0 %}
               No related qualities found.
            {% endif %}
        </ul>

      
        {% include article-footer.html page=page share=page.share %}
    </article>
</div>




{% if site.show-subtle-ads %}
<section class="subtle-ads">
  {% include subtle-ads/subtle-ads.html %}
</section>
{% endif %}
