---
layout: default
---

{% comment %} These requirements pages are structured as follows: - Header - Content section -
Related qualities (this requirement is related to these qualities) - Related requirements (same
tags) {% endcomment %}

<div class="article-wrapper">
  <article>
    {% include requirements-header.liquid page=page link=false share=page.share %}
    <section class="post-content">{{ content }}</section>

    <hr class="with-no-margin" />

    {% comment %} Find related qualities by iterating over all other qualities. {% endcomment %}

    <h2 class="section-heading qualities">Related Qualities</h2>

    {% assign all_qualities = site.qualities %} {% assign related_qualities = page.related | sort %}

    <ul class="posts no-bullets">
      {% for quality in related_qualities %} {% assign quality_title = quality | replace: "-", " "
      %} {% for whole_quality in all_qualities %} {% assign check_title = whole_quality.title |
      downcase %} {% assign check_title_downcase = check_title | replace: "-", " " %} {% if
      check_title_downcase == quality_title %}
      <li>
        <a href="{{whole_quality.permalink}}"
          ><i class="fa fa-gem fa-xs as-bullet" style="color: var(--quality-text-color)"> </i>
          {{whole_quality.title}}</a
        >
      </li>
      {% endif %} {% endfor %} {% endfor %}
    </ul>

    <hr class="with-no-margin" />

    {% comment %} Find related requirements by comparing the tags of all other requirements. {%
    endcomment %}

    <h2 class="section-heading requirements">Directly Related Quality Requirements</h2>

    {% assign page_tags = page.tags | sort %} Related here means "having the same tags/properties
    ({{ page_tags | join: ", " }})". {% assign all_reqs = site.requirements %} {% assign
    found_related_reqs = false %}
    <ul class="posts no-bullets">
      {% for req in all_reqs %} {% assign common_tags = req.tags | intersection: page_tags %} {% if
      common_tags.size > 0 and req.title != page.title %} {% assign found_related_reqs = true %}
      <li>
        <a class="reqs" href="{{req.permalink}}"
          ><i class="fa fa-bullseye fa-xs as-bullet" style="color: var(--req-text-color)"> </i
          >{{req.title}}</a
        >
      </li>
      {% endif %} {% endfor %} {% if found_related_reqs == false %}
      <li>No directly related quality requirements found.</li>
      {% endif %}
    </ul>

    <hr class="with-no-margin" />

    {% include article-footer.html page=page share=page.share %}
  </article>
</div>
