---
layout: default
---

<div class="article-wrapper">
    <article>
        {% include requirements-header.html page=page link=false share=page.share %}
        <section class="post-content">
            {{ content }}
        </section>


        {% include related-requirements.liquid %}


        <h2><span style="background-color:var(--quality-color)">Related Qualities</span></h2>

        {% assign all_qualities = site.qualities %}

        {% assign related_qualities = page.related | split:', ' | sort %}

        <ul class="posts">
            {% for quality in related_qualities %}
                {% assign quality_title = quality | replace: "-", " " %}
                {% for whole_quality in all_qualities %}
                    {% assign check_title = whole_quality.title | downcase %}
                    {% assign check_title_downcase = check_title | replace: "-", " " %}
                    {% if check_title_downcase == quality_title %}
                        <li> <a href="{{whole_quality.permalink}}">{{whole_quality.title}}</a></li>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        </ul>


        {% include article-footer.html page=page share=page.share %}
    </article>
</div>


{% if site.show-subtle-ads %}
<section class="subtle-ads">
  {% include subtle-ads/subtle-ads.html %}
</section>
{% endif %}
