---
layout: default
---

{% assign qualities_for_standard = "" | split: "" %}
{% for quality in site.qualities %}
  {% if quality.standards contains page.standard_id %}
    {% assign qualities_for_standard = qualities_for_standard | push: quality %}
  {% endif %}
{% endfor %}

<div class="article-wrapper">
    <article>
        <header>
            <div class="panel standards-header">
                <h1>
                    <a class="post-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a>
                </h1>

                <ul class="tags">
                    {% assign tags_num = (page.tags | size) %}
                    {% if tags_num > 0 %}
                    <li><i class="fa fa-tags" style="color: var(--blue-text-color);"></i></li>
                    {% endif %}
                    {% for tag in page.tags %}
                    <li>
                        <a class="tag" href="{{ '/tag-' | append: tag | prepend: site.baseurl }}">#{{ tag }}</a>
                    </li>
                    {% endfor %}
                </ul>

                <div class="clearfix">
                    <ul class="meta">
                    </ul>
                </div>
            </div>
        </header>
        <section class="post-content">
            {{ content }}
        </section>
        {% include article-footer.html page=page share=page.share %}
    </article>
</div>


<h2 class="section-heading qualities">Related Qualities ({{ qualities_for_standard | size }})</h2>

<ul>
{% for quality in qualities_for_standard  %}
        <li><a href="{{ quality.url | relative_url }}">{{ quality.title }}</a></li>
    {% endfor %}
</ul>


{% if site.show-subtle-ads %}
<section class="subtle-ads">
  {% include subtle-ads/subtle-ads.html %}
</section>
{% endif %}
